@import "~antd/dist/antd.css";

@import "./styles/TopPopular.css";
@import "./styles/ActorInfo.css";

@font-face {
  font-family: "Nunito-Regular";
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Nunito-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  color: "gray";
}
